[submodule "backend/factora-contracts/lib/forge-std"]
	path = backend/factora-contracts/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "backend/factora-contracts/lib/openzeppelin-contracts"]
	path = backend/factora-contracts/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
